# requirements.txt — Agente Starken EV2

# framework principal
langchain==0.3.25
langchain-community==0.3.23
langchain-openai==0.3.16

# base vectorial (memoria largo plazo + RAG)
chromadb==0.5.23

# interfaz web
streamlit==1.45.1

# cliente openai (GitHub Models)
openai==1.82.1

# tokenizacion
tiktoken==0.9.0

# variables de entorno
python-dotenv==1.1.0